# Dependências
node_modules/

# Variáveis de Ambiente (NUNCA comite isso)
.env
.env.local
.env.*.local

# Build artifacts
dist/
build/
*.tsbuildinfo

# Logs e SO
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

instructions.md